<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Page</title>
</head>

<body>
    <h1>Submitted Data</h1>
    <p><strong>ID:</strong>
        <%= id %>
    </p>
    <p><strong>First Name:</strong>
        <%= first_name %>
    </p>
    <p><strong>Last Name:</strong>
        <%= last_name %>
    </p>
    <p><strong>Email:</strong>
        <%= email %>
    </p>
    <p><strong>Gender:</strong>
        <%= gender %>
    </p>
</body>

</html>